# 데이터 생성(MySQL)

In [41]:
import pymysql

# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
sql = ""

# 메인 코드
conn = pymysql.connect(host = '127.0.0.1', user = 'root', password = 'subin1220', 
                       db = 'test_db', charset = 'utf8')
cur = conn.cursor()

while(True) : 
    data1 = input("사용자 ID ==> ")
    if data1 == "":
        break
    data2 = input("사용자 이름 ==> ")
    data3 = input("사용자 이메일 ==> ")
    data4 = input("사용자 출생년도 ==> ")
    # INSERT INTO userTable VALUES('hong', '홍지윤', 'hong@naver.com', 1996)
    sql = "INSERT INTO userTable VALUES('" + data1 + "', '" + data2 + "', '"+ data3 + "'," + data4 +")"
    cur.execute(sql)
    
conn.commit()
print("데이터베이스 추가를 종료합니다.")
conn.close()

사용자 ID ==> soo
사용자 이름 ==> 임수임수
사용자 이메일 ==> suim98
사용자 출생년도 ==> 1998
사용자 ID ==>
데이터베이스 추가를 종료합니다.

# 데이터 조회(MySQL)

In [42]:
import pymysql

# 전역변수 선언부
conn, cur = None, None
data1, data2, data3, data4 = "", "", "", ""
row = None

# 메인 코드
conn = pymysql.connect(host = '127.0.0.1', user = 'root', password = 'subin1220', 
                       db = 'test_db', charset = 'utf8')
cur = conn.cursor()

cur.execute("SELECT * FROM userTable")
print("사용자ID   사용자이름           이메일        출생연도")
print("-----------------------------------------------")

while(True) : 
    row = cur.fetchone()
    if row == None : 
        break 
    data1 = row[0]
    data2 = row[1]
    data3 = row[2]
    data4 = row[3]
    print("%5s %8s %20s %8d" % (data1, data2, data3, data4))

conn.close()

사용자ID   사용자이름           이메일        출생연도
-----------------------------------------------
   su       수빈       suim@naver.com     1998
 suim      임수빈      subin@naver.com     1998
 gang       강민   gangminj@naver.com     1998
  soo     임수임수               suim98     1998